<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- nev bar -->
    <div class="bg-white border-bottom">
      <div class="container d-flex justify-content-between align-items-center p-3">
        <%= link_to "/cocktails", class: "navbar-brand" do %>
          <%= image_tag "https://i.pinimg.com/originals/3a/e8/55/3ae8553569847261a36345b003dae98f.jpg", height: '32', width: '32' %>
        <% end %>
        <%= link_to 'Create a Cocktail', new_cocktail_path, class: 'button' %>
      </div>
    </div>
      <%= yield %>
    </br>
    </br>
    </br>
    </br>
  </body>
</html>
